<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabzil.stivouch" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LandingPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MobileRegistration"
            android:label="@string/title_activity_mobile_verification"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".UserSelection"
            android:label="@string/title_activity_user_selection" >
        </activity>
        <activity
            android:name=".LoginVoucher"
            android:label="@string/title_activity_login_voucher" >
        </activity>
        <activity
            android:name=".SignupVoucher"
            android:label="@string/title_activity_signup_voucher" >
        </activity>
        <activity
            android:name=".SignupOTp"
            android:label="@string/title_activity_signup_otp" >
        </activity>
    </application>

</manifest>
